$light-green: #15B097;
$dark-purple: #1C0221;
$jungle-green: #0B5351;
$camel: #C69C72;
$font-xl: 2.618rem;
$font-medium: 1.618rem;
$font-large: 1.931rem;
$font-small: 1rem;
$thistle: #DEC5E3;

h1 {
    font-size: 5.056em;
    padding: 2rem 0;
}
h2 {
    font-size: 4.236em;
    padding: 1.25rem 0;
}
h3 {
    font-size: 3.125em;
}
h4 {
    font-size: 2.618em;
}
h5 {
    font-size: 1.931em;
    padding: 0.8rem 0;
}

p {
    font-size: 1.194em;
}